html{
    background-color: #F0F0F0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerImg{
    background-image: url(/images/header_background.jpeg);
    height: 600px;
    width: 100%;
    background-size: cover;
}

#headerText{
    text-align: center;
    color: #F0F0F0;
    margin-top: 225px;
}

.aboutImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
    border: black solid 2px;
}

.about{
    padding: 46px;
}

#aboutMe{
    color: black;
    text-align: center;
}

.hobby-images{
    display: flex;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

.mountTimp{
    width: 400px;
    height: 400px;
    display: block;
    border: black solid 2px;
    margin-left: auto; 
}

.golfImg{
    width: 400px;
    height: 400px;
    display: block;
    border: black solid 2px;
    margin-left: none;
}

p{
    text-align: center;;
}

.navBar{
    overflow: hidden;
    background-color: #333;
}

.navBar a{
    float: left;
    color: #7e7e7e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navBar a:hover{
    background-color: #ddd;
    color: black;
    transition: 0.2s;
}
  
.projects {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
  
.projects > a > img {
    float: left;
    width: 45%;
    margin: 1.66%;
    border: black solid 2px;
}

#projectHead{
    text-align: center;
    margin-top: 50px;
}

ion-icon{
    height: 50px;
    width: 50px;
}

.insta-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 20px;
}

.insta-icon:hover{
    color: lightgrey;
}

.face-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 20px;
}

.face-icon:hover{
    color: lightgrey;
}

.git-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 20px;
}

.git-icon:hover{
    color: lightgrey;
}

.mail-icon{
    color: black;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 20px;
}

.mail-icon:hover{
    color: lightgrey;
}

.project1:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.project2:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.project3:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.project4:hover{
    opacity: 0.5;
    transition: 0.2s;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 48px;
}

